body{
    background-color:rgb(193, 215, 235);
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height:100vh;
    margin:0;
    width:100vw;
}
.main{
    background-color:white;
    width:12rem;
    height:fit-content;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-evenly;
    padding:10px;
    gap:0px;
}
img{
    width:150px;
    height:150px;
}
.mc,.oc{
    text-align: center;
    padding:0px;
    margin:0px;
}
.mc{
    font-size:20px;
    font-weight: bolder;
    font-family:cursive;

}
h1{
    display:none;
